KEYCLOAK_ADMIN_PASSWORD=changeme

STAGING_HUB_URL=http://localhost:8000
STAGING_CLIENT_SECRET=changeme

PROD_HUB_URL=http://localhost:9000
PROD_CLIENT_SECRET=changeme

# Generate with: openssl rand -hex 32
JUPYTERHUB_CRYPT_KEY=some-random-key
